#body .container-login {
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%) ;
    width: 65% ;
    height: 75%  ;
    border-radius: 0.5rem ;
    box-shadow: 0px 0px 4px var(--primary-btn);
}

#body .login-illustration {
    border-right: 0.6px solid grey ;
    background-color: var(--primary-btn) ;
    color: var(--primary-bg)!important ;
    border-radius: 0.5rem 0 0 0.5rem ;
}

#body .login {
    background-color: var(--secondary-bg) ;
    border-radius: 0 0.5rem 0.5rem 0 ;
    margin-left: -5px ;
}

#body div div form input[type="submit"], #body div div form p{
    display: block;
    width: 100% ;
    margin-bottom: 0px ;
}

#body div div form input[type="text"], #body div div form input[type="password"] {
    background-color: var(--primary-bg);
    color: var(--secondary-btn)!important ;

}

#body div div form input[type="text"]:focus, #body div div form input[type="password"]:focus {
    background-color: var(--primary-bg);
    color: var(--secondary-btn)!important ;
}

#body div div form input[type="text"]:visited, #body div div form input[type="password"]:visited {
    background-color: var(--primary-bg);
    color: var(--secondary-btn)!important ;

}

#body div div form div {
    position: relative ;
}

#body div div form div p {
     position: relative;
     margin-top: -25px ;
     margin-bottom: 5px ;
     background-color: transparent ;
}

#body div div form div p span{
    background-color: var(--secondary-bg) ;
    color: var(--secondary-btn);
    padding:  0px 4px ;
}

#body div div form input[type="submit"]{
    background-color: var(--primary-btn) ;
    color: var(--secondary-bg) ;
}

#body div div form div + p {
    background-color: var(--secondary-bg) ;
    color: var(--secondary-btn) ;
    border: 1px solid var(--secondary-btn) ;
}